:host{
    .video-container{
        &.local{
            width: 25%;
            min-width: 20rem;
            position: absolute;
            z-index: 2;
            bottom: 1rem;
            left: 1rem;
            padding: 5px;
            background-color: gray;
            border-radius: 5px;
            display: block;
        }
        .video-wrapper{
            position: relative;
            .controls{
                position: absolute;
                z-index: 10;
                bottom: 1rem;
                left: 50%;
                transform: translateX(-50%);
                button {
                  margin: 0 5px;
                }
            }
            .video-element{
                width: 100%;
                display: block;
            }
        }
    }

}
